# Keil 编译产生的临时文件
*.obj
*.lst
*.lnp
*.m51
*.pbi
*.pjt
*.plg
*.bak
*.__i
*.crf
*.d
*.o
*.axf
*.htm
*.dep
*.build_log.htm
*.uvgui.*
*.uvguix.*
*.scvd
*.iex
*.map

# Keil 自动生成的文件夹
Listings/
Objects/
DebugConfig/
RTE/

# 操作系统文件
.DS_Store
